.calc-btn {
    cursor: pointer;
    border: 0;
    border-radius: 1rem;
    padding: 20px;
}
  
.calc-btn.operator {
    background-color: #6d879e;
}
  
.calc-btn.number {
    background-color: white;
}
  
  
.calc-btn.special {
    background-color: #c5d8e9;
}

/* Botón ancho (doble ancho) */
.calc-btn.wide {
    grid-column: span 2;
    width: 100%;
}

.calc-btn:active {
    background-color: #dee2e6;
    transform: translateY(2px);
}


  